.r1{

	padding: 0px;
}
.bt{
	background-color: blue;
	color:#FFF;
	font-size: 13px;
	border-color:blue;
}


.v
{
	background-color: #ffffff;
	height: 300px;

}
.n{
	background-color: #ffffff;
	height: 100px;
}
.m{
	background-color: #dfe3ee;
}

.ad
{
	height:546px;
	 background-color: #ffffff; 
	 margin-top: 8px;
	 margin-left:2px;
}
